<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>图片上传</title>
    <link rel="shortcut icon" href="../Assets/favicon(2).ico" type="image/x-icon">
    <script src="../Script/node_modules/jquery/dist/jquery.js"></script>
</head>
<body>
    <input type="text" id="text" name="text">
    <input type="file" id="images" name="images"  multiple>
    <input type="button" value="上传" onclick="uploadfile()">
    <ul id="imglists">
        
    </ul>
   <script>
       function uploadfile(){
        document.getElementById("imglists").innerHTML="";
        var text = document.getElementById('text').value;
        var file = document.getElementById('images').files;
        // console.log(file.length);
        var qr = confirm("确定发布文章吗？");

        if(!qr){
            return false
        }else{
        if(file == null || file == ""){
            console.log("请上传图片");
            return fales;
        }
        var formData = new FormData();
        console.log(file.length);
        for(var i = 0;i<file.length;i++){
            formData.append("file["+i+"]",file[i]);
        }
        formData.append('text',text)
        $.ajax({
            url:'http://localhost:82/测试内容/php/upImage.php',
            type:'post',
            data:formData,
            dataType:'text',
            async:false,//true同步传输/fasle异步传输
            contentType:false,
            //告诉jQuery不要去设置Content-Type请求头
            cache:false,//每次读取的是最新数据
            processData:false,
            success:function(res){
                var rels = JSON.parse(res);
                console.log(rels);
                // console.log(JSON.parse(res);
                for (var key in rels['imgs']){
                var lists = document.createElement('li');
                lists.style.listStyle="none";
                lists.innerHTML='<img src="'+rels['imgs'][key]+'" alt="" width="'+200+'">';
                document.getElementById('imglists').appendChild(lists);
                }      
            }
        })
    }
    }
    </script>
</body>
</html>