<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="title">加载中...</title>
    <link rel="shortcut icon" href="../Assets/favicon(2).ico" type="image/x-icon">
    <script src="../Script/article.js"></script>
    <link rel="stylesheet" href="../Style/style_1.css">
    <link rel="stylesheet" href="../Style/style_2.css">
    <link rel="stylesheet" href="../Style/article.css">
</head>
<body>
    <div id="_layout">
        <div class="header">
            <div class="header_inner">
                <div class="header_logo_content">
                    <div class="header_logo">
                        <img src="../Assets/bailantu.png" alt="header_logo">
                    </div>
                    <div class="header_title">
                        <span>摆烂兔</span>
                    </div>
                </div>
                <div class="header_navwrap">
                    <div class="header_navbar">
                        <a href="#" class="home">首页</a>
                        <a href="#" class="home">未知</a>
                        <a href="#" class="home">未知</a>
                        <a href="#" class="home">未知</a>
                        <div class="header_navitem">
                            <span>更多</span>
                        </div>
                    </div>
                </div>
                <div class="header_right">
                    <div>
                        <a href="http://localhost:83/html/index.html">Admin</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="main">
            <div class="blt_layout">
                <div class="left_layout">
                    <div class="blt_article_main">
                        <div class="article_header">
                            <p class="title">【转发抽奖】派蒙生日活动开启！</p>
                            <p class="time">
                                2021-6-2 17:28
                            </p>
                            <p class="name">
                                迷路的史莱姆酱
                            </p>
                        </div>
                        <div class="article_img">
                            <img src="../Assets/bailantu.png" alt="">
                            <img src="../image/1.jpg" alt="" >
                            <img src="../image/2.jpg" alt="" >
                            <img src="../image/gotop.png" alt="">
                            <img src="../image/nexImg.png" alt="">
                        </div>
                        <div class="article_text">
                            <p>姆，旅行者们好……嗯？是旅行者和白乎乎，他们好像在说什么悄悄话( •̀ .̫ •́ )✧
                                在说什么在说什么，酱酱也想知道，悄悄靠近点——
                            </p>
                            <p>
                                （6月2日0：00之后，旅行者仍然可从米游社APP-旅行工具中进入展示页，但将无法收集画片，请注意时间）
                            </p>
                            <p>
                                （6月2日0：00之后，旅行者仍然可从米游社APP-旅行工具中进入展示页，但将无法收集画片，请注意时间）
                            </p>
                            <p>
                                1. 请旅行者关注系统通知，周边中奖信息会出现在里面哦，若周边获奖者在通知发出后未在指定时间前完成地址填写，则视为放弃奖励。如果旅行者获得了周边奖励，请按照以下步骤填写地址：【填写地址教程】。
                            </p>
                        </div>
                    </div>
                    <div class="blt_article_reply"></div>
                </div>
                <div class="right_layout">
                    <div class="user_info">
                        <div class="img">
                            <img src="../Assets/bailantu.png" alt="" width="150">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>