.main {
  width: 100%;
  height: 100%;
  padding: 62px 0 62px 0;
  display: flex;
  justify-content: center;
}
.main .blt_layout {
  box-sizing: border-box;
  display: flex;
  width: 1200px;
  height: 100%;
  padding: 10px 90px 10px 90px;
  justify-content: space-around;
}
.main .blt_layout .blt_layout_main {
  width: 690px;
  height: 100%;
}
.main .blt_layout .blt_layout_main .blt_banner_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 690px;
  height: 300px;
}
.main .blt_layout .blt_layout_main .blt_article_list_body {
  width: 690px;
  height: 100%;
}
.main .blt_layout .blt_layout_main .blt_article_list_body .blt_article_card {
  border-radius: 3px;
  box-sizing: border-box;
  margin: 2px;
  width: 690px;
  height: 310px;
  background-color: #fff;
  padding: 20px;
}
.main .blt_layout .blt_layout_main .blt_article_list_body .blt_article_card .blt_article_card_header {
  box-sizing: border-box;
  width: 648px;
  height: 38px;
  padding: 0 10px 0 10px;
}
.main .blt_layout .blt_layout_main .blt_article_list_body .blt_article_card .blt_article_card_header .blt_article_card_info {
  display: flex;
  align-items: center;
  width: 400px;
  height: 38px;
}
.main .blt_layout .blt_layout_main .blt_article_list_body .blt_article_card .blt_article_card_header .blt_article_card_info a {
  width: 400px;
  height: 38px;
  display: flex;
  align-items: center;
}
.main .blt_layout .blt_layout_main .blt_article_list_body .blt_article_card .blt_article_card_header .blt_article_card_info a img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.main .blt_layout .blt_layout_main .blt_article_list_body .blt_article_card .blt_article_card_header .blt_article_card_info a .name {
  margin-right: 10px;
  font-size: 14px;
  color: #0e0e0e;
}
.main .blt_layout .blt_layout_main .blt_article_list_body .blt_article_card .blt_article_card_header .blt_article_card_info a .datetime {
  margin-right: 10px;
  font-size: 8px;
  color: #c2c2c2;
}
.main .blt_layout .blt_layout_main .blt_article_list_body .blt_article_card .blt_article_card_main {
  box-sizing: border-box;
  width: 648px;
  height: 170px;
  padding: 0 10px 0 10px;
}
.main .blt_layout .blt_layout_main .blt_article_list_body .blt_article_card .blt_article_card_main .blt_article_card_content {
  padding: 5px;
  width: 608px;
  height: 30px;
  font-size: 14px;
  color: #a2a2a2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main .blt_layout .blt_layout_main .blt_article_list_body .blt_article_card .blt_article_card_main .blt_article_card_preview {
  padding-left: 5px;
  padding-right: 5px;
  width: 370px ;
  height: 118px;
  display: flex;
  overflow: hidden;
  align-items: center;
}
.main .blt_layout .blt_layout_main .blt_article_list_body .blt_article_card .blt_article_card_main .blt_article_card_preview .preview {
  margin: 0 5px 0 5px;
  width: 110px;
  height: 110px;
}
.main .blt_layout .blt_layout_main .blt_article_list_body .blt_article_card .blt_article_card_footer {
  box-sizing: border-box;
  width: 648px;
  height: 40px;
  padding: 0 10px 0 10px;
}
.main .blt_layout .blt_layout_sub {
  background-color: #fff;
  width: 290px;
  height: 100%;
}
